#progress-container {
    width: 100%;
    background-color: #ddd;
    margin: 10px 0;
    padding: 3px;
}

#progress-bar {
    height: 20px;
    background-color: #000; /* or a dark grey */
    width: 0%;
}

#percentage {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #000;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 20px;
}
